body {
    background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(255,208,174));
    background-size: 100% 120vh;
    background-attachment: fixed;
}


.head{
    margin-top: 100px;
    text-align: center;
    text-shadow: 1px 1px 1px black, 0 0 2px black;
    animation: about 2s infinite;

}
@keyframes about {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Home*/
#title-div{
    animation : tite 6s infinite;
}

@keyframes tite{
  from { scale: 0; }
  to { scale: 1; }
}
.text-t {
    font-size: 20px;

    color: darkgoldenrod;
    text-shadow:.5px .5px 1px black, 0 0 25px wheat, 0 0 5px goldenrod;
}
.img1{
   margin-left: 65px;
   margin-top: 100px;
}


#img2{
    margin-top: 20px;
    border:1px solid wheat;
    box-shadow: 1px 1px 2px ghostwhite, 0 0 15px white, 0 0 5px goldenrod
}
.text1{
    font-size: 25px;
    text-align: center;
    color: black;
    margin-top: 15px;
    font-family: inherit;
    text-shadow: 1px 1px 1px black, 0 0 2px black;
}
.text2{
    font-size: 20px;
    color: black;

}
.text4{

    font-size: 26px;
    color: darkgoldenrod;
    text-shadow: 1px 1px 2px black, 0 0 25px wheat, 0 0 5px goldenrod;

}
.full {
    animation-name: hat;
    animation-duration: 3s;
}

@keyframes hat {
    from {
        translate: -150vw 0vw;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}
.name-div {
    animation-duration: 3s;
    animation-name: slide-in;
}


@keyframes slide-in {
    from {
        translate: 150vw 0vw;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}
.typewriter{
    margin-top: -20px;
    font-size: 20px;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px black, 0 0 2px black;
}
.typewriter span{
    font-size: 20px;
    color: darkgoldenrod;
    text-shadow: 1px 1px 2px black, 0 0 25px wheat, 0 0 5px goldenrod;
}
.typewriter span::before{
    content: " ";
    animation: words 6s infinite;
}
.typewriter span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 3px solid wheat;
    height: 35px;
    margin-left: 2px;
    animation: cursor 1s infinite;
}
@keyframes cursor{
    0%, 100%{
        border-left: 1px solid white;
        width: 2px;
        margin-left: 2px;
        box-shadow: 1px 1px 2px darkgoldenrod, 0 0 25px black, 0 0 5px goldenrod;

    }
}
@keyframes words{
    0%, 33%{
        content: "Developer";
    }
    34%, 66%{
        content: "Student ";
    }
    67%, 100%{
        content: "Man ";
    }
}

#logo-img{
    margin-top: 30px;
    animation-name: logo;
    animation-duration: 7s;

}
@keyframes logo{
   from { opacity: 0; }
   to { opacity: 1; }
}

/*About Style*/


.text-about{
    color: darkgoldenrod;
    font-size: 30px;
    margin-top:100px;
}












/* অ্যানিমেশনটি তৈরি করা */
@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(200px) scale(.1);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.about-text {
    margin-left: 40px;
    margin-right: 40px;
    /* অ্যানিমেশনটি অ্যাপ্লাই করা */
    animation: slide-in-left linear;

    /* আসল ট্রিক: অ্যানিমেশনটি সময়ের বদলে স্ক্রলের সাথে চলবে */
    animation-timeline: view();

    /* লেখাটি স্ক্রিনের কতটুকু ভেতরে আসলে অ্যানিমেশন শেষ হবে তা ঠিক করা */
    animation-range: entry 10% cover 40%;
}
.skil-img{
    height: 100px;
    width: 100px;
    margin-top:30px;
    margin-left: 40px;

}
.skil .row{
    animation-name: imag;
    animation-duration: 10s;
    animation-timeline: view();
}

.skil .row .col p{
    font-size: 20px;
    text-shadow: 1px 1px 1px black, 0 0 2px black;
    margin-top: 60px;
    margin-left: -70px;
    animation-name: ok;
    animation-duration: 10s;
    animation-timeline: view();
}
@keyframes ok{
  0%, 30% {
    opacity: 1;
    transform: translateX(300px) scale( 0);
  }
  31%, 66% {
    opacity:1;
    transform: translateX(0px) scale( 1);
  }
  67%, 100% {
    opacity: 1;
    transform: translateX(0px) scale(1);

  }
}
@keyframes imag{
  0%, 32% {
    opacity: 1;
    transform: translateX(-200px) scale( 1);
  }
  33%, 59% {
    opacity:8;
    transform: translateX(50px) scale( 1);
  }
  51%, 100% {
    opacity: 1;
    transform: translateX(0px) scale(1);

  }


}
.contact .row .col p a{
    text-decoration: none;
    color: #000;
}
.contact .row .col-1 img{
    height: 20px;
    width: 20px;
}
.contact {
    margin-top: 50px;
    margin-left: 50px;
}

.contact{
    animation-name: cat;
    animation-duration: 3s;
    animation-iteration-count: view();


}
@keyframes cat{
   0%, 33% { opacity: 1; }
   34%, 50% { opacity: 0; }
   51%, 80% { opacity: 1; }
   81%, 100% {opacity: 0;}
}